# Logs
logs
*.log
logs.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# Config
config.json
.env

#modules
node_modules

# eslint
.eslintrc.yml
.eslintrc.json

# generated images
images/last-blockie.png